.header
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo
{
    width: 100px;
}

.nav-items 
{
    padding: 0px 20px;
    font-size: 20px;
}

.nav-items > ul 
{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li 
{
    padding: 10px;
    margin: 10px;
}

.restaurantComp
{
    display: flex;
    flex-wrap: wrap;

}

.res-cards
{
    height: 500px;
    width: 300px;
    padding: 5px;
}

.res-cards:hover
{
    cursor: pointer;
    border: 1px solid black;
}

.search
{
    padding: 10px;
}
.res-logo
{
    width: 100%;

}